@model Datos.Modelo.CargaMasiva
@{
	ViewBag.SeccionTieneTitulo = true;
	ViewBag.Pagina = 2;
	ViewBag.Title = "Despacho - Carga Masiva";
	ViewBag.TituloSeccion = "Nueva Carga Masiva";

	Datos.Modelo.Usuario usuario = Session["usuario"] as Datos.Modelo.Usuario;

	if (usuario.PerfilId != 4)
	{
		Response.Redirect("~/CargaMasiva/Index");
	}
}

@section Less{
	<link rel="stylesheet/less" type="text/css" href="~/Content/less/cargaMasiva.less" />
}

@section Scripts{
	<script type="text/javascript" src="~/Content/librerias/XLS/jszip.js"></script>
	<script type="text/javascript" src="~/Content/librerias/XLS/xlsx.js"></script>
	<script type="text/javascript" src="~/Content/js/CargaMasiva.js"></script>
}

<div class="m-portlet m-portlet--mobile">
	<div class="m-portlet__head">
		<div class="m-portlet__head-caption">
			<div class="m-portlet__head-title">
				<label for="exampleInputEmail1">Carga Masiva</label>
			</div>
		</div>
	</div>
	<div class="m-portlet__body">
		<div class="row">
			<div class="col-lg-6">
				<div class="form-group m-form__group">
					<div class="custom-file">
						<input type="file" class="custom-file-input" lang="es-cl" id="archivoCarga" accept=".xls,.xlsx">
						<label class="custom-file-label" for="archivoCarga">Seleccione un archivo</label>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<button class="btn btn-sm btn-primary" id="btnProcesarRegistros" style="width: 100%; font-size: 1.4rem;">Procesar</button>
			</div>
			<div class="col-lg-3">
				<a class="btn btn-sm btn-success" href="../../Content/Archivos/Carga Masiva.xlsx" target="_blank" style="width: 100%; font-size: 1.2rem;">Descargar Archivo Ejemplo</a>
			</div>
			<div class="col-lg-6" id="alertaProcesar" style="display:none;">
				<div class="alert alert-warning">
					<strong>¡Importante!</strong> Presione el botón <b>Procesar</b> para visualizar la información.
				</div>
			</div>
			<div class="col-lg-6" id="alertaGuardar" style="display:none;">
				<div class="alert alert-warning">
					<strong>¡Importante!</strong> Presione el botón <b>Guardar</b> para guardar la información.
				</div>
			</div>
		</div>
	</div>
</div>

<div class="m-portlet m-portlet--mobile" id="divTablaResultado" style="display: none;">
	<div class="m-portlet__head">
		<div class="m-portlet__head-caption">
			<div class="m-portlet__head-title">
				<h3>Resultado</h3>
			</div>
		</div>
		<div class="m-portlet__head-tools">
			<ul class="m-portlet__nav">
				<li class="m-portlet__nav-item">
					<a href="#" id="guardar-registros" class="m-portlet__nav-link btn btn-success m-btn m-btn--pill m-btn--air">
						Guardar
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="m-portlet__body">
		<div class="col-12">
			<div class="row">
				<div class="col-6">
					<div class="row">
						<div class="col-4">
							<label class="m-checkbox m-checkbox--air m-checkbox--state-brand">
								<input id="registrosMalos" type="checkbox" value="1"> Malos
								<span></span>
							</label>
						</div>
						<div class="col-4">
							<label class="m-checkbox m-checkbox--air m-checkbox--state-brand">
								<input id="registrosBuenos" type="checkbox" value="2"> Buenos
								<span></span>
							</label>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="form-group">
						<div class="input-group">
							<input class="form-control m-input" placeholder="Buscar" id="txtBuscar" />
						</div>
					</div>
				</div>
			</div>

			<div class="m_datatable" id="lista-registros"></div>
		</div>
	</div>
</div>

