@{
    ViewBag.Title = "Login";
}

<div class="fondo-login">
    <div class="imagen-camion"></div>
    <div class="form-login">
        <div class="form-login-body">
            <img src="~/Content/img/logo.svg"/>
            <div class="div-usuario">
                <i class="fa fa-user"></i>
                <div>
                    <label>Usuario</label>
                    <input id="usuario" name="usuario" type="text" placeholder="Usuario" />
                </div>
            </div>
            <input id="clave" name="clave" type="password" placeholder="Clave" />
        </div>
    </div>
</div>