@model Datos.Modelo.Gerencia
@{
	ViewBag.SeccionTieneTitulo = true;

	if (Model.GerenciaId == 0)
	{
		ViewBag.Title = "Despacho - Nueva Gerencia";
		ViewBag.TituloSeccion = "Nueva Gerencia";
	}
	else
	{
		ViewBag.Title = "Despacho - " + Model.Descripcion;
		ViewBag.TituloSeccion = Model.Descripcion;
	}
}

@section Less{
	<link rel="stylesheet/less" type="text/css" href="~/Content/less/gerencia.less" />
}

@section Scripts{
	@Scripts.Render("~/bundles/gerencia")
}

<div class="m-portlet m-portlet--tab">
	<!--begin::Form-->
	<form class="m-form m-form--fit m-form--label-align-right">
		<div class="m-portlet__body">
			<input type="hidden" value="@Model.GerenciaId" id="id">
			<input type="hidden" value="@Model.EstaActivo" id="activo">

			<div class="form-group m-form__group row">
				<label for="example-text-input" class="col-2 col-form-label">Descripción</label>
				<div class="col-10">
					<input class="form-control m-input" type="text" value="@Model.Descripcion" id="descripcion" style="width: 50%">
				</div>
			</div>

		</div>
		<div class="m-portlet__foot m-portlet__foot--fit">
			<div class="m-form__actions">
				<div class="row">
					<div class="col-2">
					</div>
					<div class="col-10">
						<button type="button" class="btn btn-success" id="btnGuardar">Guardar</button>
						<a href="/Cliente/Index" class="btn btn-secondary">Volver</a>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>




