@{
	ViewBag.Title = "Despacho - Existencias";
	ViewBag.SeccionTieneTitulo = true;
	ViewBag.TituloSeccion = "Consulta de Existencias";
	ViewBag.Pagina = 3;

	Datos.Modelo.Usuario usuario = Session["usuario"] as Datos.Modelo.Usuario;

	List<Datos.Modelo.Bodega> bodegas = Datos.Datos.Bodega.ObtenerBodegas(usuario.ClienteId != null ? usuario.ClienteId.Value : 0);
}

@section Less {
	<link rel="stylesheet/less" type="text/css" href="~/Content/less/existencia.less" />
}

@section Scripts {
	<script src="~/Content/librerias/metronic/assets/themes/default/custom/crud/forms/widgets/select2.js" type="text/javascript"></script>
	<script src="~/Content/js/Existencia.js" type="text/javascript"></script>
}

<div class="m-portlet m-portlet--metal m-portlet--head-solid-bg m-portlet--head-sm" m-portlet="true" id="m_portlet_tools_1">
	<div class="m-portlet__head">
		<div class="m-portlet__head-caption">
			<div class="m-portlet__head-title">
				<span class="m-portlet__head-icon">
					<i class="flaticon-search-magnifier-interface-symbol"></i>
				</span>
				<h3 class="m-portlet__head-text">
					Filtros
				</h3>
			</div>
		</div>
		<div class="m-portlet__head-tools">
			<ul class="m-portlet__nav">
				<li class="m-portlet__nav-item">
					<a href="#" id="filtro-filtrar" class="btn btn-secondary m-btn--md m--margin-right-10">
						<span>
							<span>Filtrar</span>&nbsp;&nbsp;
							<i class="la la-refresh"></i>
						</span>
					</a>
				</li>
				<li class="m-portlet__nav-item">
					<a id="filtro-ocultar" href="#" m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
						<i class="la la-angle-down"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="m-portlet__body">
		<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
			<div class="row">
				<div class="col-lg-6 col-xs-12 mt-2">
					<div class="form-group m-form__group row">
						<label class="col-form-label col-lg-3 col-sm-12">Bodega</label>
						<div class="col-lg-9 col-sm-12">
							<select class="form-control m-select2" id="filtro-bodega" name="filtro-bodega">
								<option value="" selected>Todas</option>
								@foreach (Datos.Modelo.Bodega bodega in bodegas)
								{
									<option value="@bodega.Codigo">@bodega.Nombre</option>
								}
							</select>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-xs-12 mt-2">
					<div class="form-group m-form__group row">
						<label class="col-form-label col-lg-3 col-sm-12">Fecha Almacenaje</label>
						<div class="col-lg-9 col-sm-12">
							<div class='input-group pull-right' id='filtro-fecha-almacenaje'>
								<input type='text' class="form-control m-input" readonly placeholder="Seleccione la fecha de inicio y fin" />
								<div class="input-group-append">
									<span class="input-group-text"><i class="la la-calendar-check-o"></i></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-xs-12 mt-2">
					<div class="form-group m-form__group row">
						<label class="col-form-label col-lg-3 col-sm-12">Bin</label>
						<div class="col-lg-9 col-sm-12">
							<select class="form-control m-select2" id="filtro-bin" name="filtro-bin" disabled>
								<option value="" selected>Todas</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--begin::Portlet-->
<div class="m-portlet m-portlet--tabs">
	<div class="m-portlet__head">
		<div class="m-portlet__head-caption">
			<div class="m-portlet__head-title">
				<h3 class="m-portlet__head-text">
					Detalle
				</h3>
			</div>
		</div>
		<div class="m-portlet__head-tools">
			<ul class="nav nav-tabs m-tabs-line m-tabs-line--right" role="tablist">
				<li class="nav-item m-tabs__item">
					<a class="nav-link m-tabs__link active" data-toggle="tab" href="#seccion-lista" role="tab">
						<i class="flaticon-list-3"></i> Lista
					</a>
				</li>
				<li class="nav-item m-tabs__item">
					<a class="nav-link m-tabs__link" data-toggle="tab" href="#seccion-bodega" role="tab">
						<i class="flaticon-open-box"></i> Bodega
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="m-portlet__body">
		<div class="tab-content">
			<div class="tab-pane active" id="seccion-lista" role="tabpanel">
				<!--begin: Search Form -->
				<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
					<div class="row align-items-center">
						<div class="col-xl-8 order-2 order-xl-1">
							<div class="form-group m-form__group row align-items-center">
								<div class="col-md-4">
									<div class="m-input-icon m-input-icon--left">
										<input type="text" class="form-control m-input m-input--solid" placeholder="Buscar..." id="buscarExistencia">
										<span class="m-input-icon__icon m-input-icon__icon--left">
											<span><i class="la la-search"></i></span>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--end: Search Form -->
				<div class="m_datatable" id="lista-existencia"></div>
			</div>
			<div class="tab-pane" id="seccion-bodega" role="tabpanel">
				<div id="seccion-bodega"></div>
			</div>
		</div>
	</div>
</div>
<!--end::Portlet-->