#colores() {
	primario: #085A87;
	secundario: #0B6880;
	claro: #17A680;
	blanco: #FFFFFF;
}

body {
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link {
	background-color: #colores[primario]!important;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-icon {
	color: #colores[blanco]!important;
}

.m-aside-menu .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__link .m-menu__link-bullet {
	width: 35px !important;
}

#m_header_menu .m-menu__link-badge span {
	background-color: #colores[claro]!important;
	color: #colores[blanco]!important;
}

.m-badge.m-badge--claro {
	background-color: #colores[claro]!important;
	color: #colores[blanco]!important;
}
