@import "general.less";

body {
}

#m_portlet_tools_1 .m-portlet__head {
	background-color: #colores[primario] !important;
	border-color: #colores[primario] !important;
}

.m-datatable__row {	   
	cursor: pointer;
}
