body {
}

#m_aside_left .m-menu__item.m-menu__item--active > .m-menu__link {
	background-color: #085A87!important;
}

#m_aside_left .m-menu__item .m-menu__link .m-menu__link-icon {
	color: #FFFFFF!important;
}

#m_aside_left .m-menu__item:hover .m-menu__link .m-menu__link-icon {
	color: #FFFFFF!important;
}

#m_aside_left .m-menu__item .m-menu__link .m-menu__link-text {
	color: #FFFFFF!important;
}

#m_aside_left .m-menu__item:hover .m-menu__link .m-menu__link-text {
	color: #FFFFFF!important;
}

#m_header_menu .m-menu__link-badge span {
	background-color: #17A680!important;
	color: #FFFFFF!important;
}

.m-badge.m-badge--claro {
	background-color: #17A680!important;
	color: #FFFFFF!important;
}

#filtro-filtrar {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-text {
	color: white !important;
}

.m-timeline-2 {
	position: relative;
}

#m_aside_left .m-menu__section .m-menu__section-text {
	color: #DEDEDE!important;
}

.m_datatable .m-datatable__row.m-datatable__row--even td {
	background-color: #17A6801C!important;
}

.m_datatable .m-datatable__row:hover td {
	background-color: #DEDEDE!important;
}
